/Debug
/DumbbellBuilder/Debug
/test/Debug
/DumbbellBuilderLib/Debug
/DumbbellBuilder/.vs/DumbbellBuilder/v15
/.vs/DumbbellBuilder/v15
/DumbbellBuilder/*.suo
/DumbbellBuilder/Release
/DumbbellBuilderLib/Release
/Release
/test/Release
/DumbbellBuilder/*.user
